<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <app-toolbar>
    <form [formGroup]="form" fxLayoutAlign="space-between center">
      <div class="form-field" fxFlex="1 1 70%" fxLayoutAlign="start center">
        <label fxFlex="1 1 70px" class="form-field-label">Key word(s)</label>
        <mat-form-field appearance="outline">
          <input formControlName="query" matInput type="text" placeholder="e.g. Chuck Norris" />
          <mat-error *ngIf="form.touched && form.get('query').invalid"> Required. </mat-error>
        </mat-form-field>
      </div>
      <button
        [disabled]="form.invalid"
        (click)="onSubmit()"
        class="submit-button"
        fxFlex="1 1 160px"
        mat-flat-button
        color="primary"
      >
        GO!
      </button>
    </form>
  </app-toolbar>
  <div class="table-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <table [dataSource]="dataSource" mat-table matSort multiTemplateDataRows>
      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          <div class="title">
            ID
            <img class="filter" src="/assets/images/general%20/%20chevron%20/%20down-1.svg" />
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- CATEGORIES -->
      <ng-container matColumnDef="categories">
        <th mat-header-cell *matHeaderCellDef>
          <div class="title">
            Categories
            <img class="filter" src="/assets/images/general%20/%20chevron%20/%20down-1.svg" />
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.categories }}</td>
      </ng-container>

      <!-- CREATED DATE -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div class="title">
            Date created
            <img class="filter" src="/assets/images/general%20/%20chevron%20/%20down-1.svg" />
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
      </ng-container>

      <!-- QUOTE EXPAND ROW -->
      <ng-container matColumnDef="quote">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div
            class="quote-wrapper"
            [@detailExpand]="element == expandedQuote ? 'expanded' : 'collapsed'"
          >
            <app-quote [quote]="element.value"></app-quote>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        class="info-row"
        mat-row
        [class.example-expanded-row]="expandedQuote === element"
        (click)="expandedQuote = expandedQuote === element ? null : element"
        *matRowDef="let element; columns: displayedColumns"
      ></tr>
      <tr class="quote-row" mat-row *matRowDef="let row; columns: ['quote']"></tr>
    </table>
    <mat-spinner *ngIf="isLoadingQuotes"></mat-spinner>
  </div>
</div>
