.container {
  padding: 0 183px;
  min-height: 100vh;
  background-image: url("../assets/images/chuck-norris-nikita-abakumov.jpg"), linear-gradient(#f15a24, #a5401c);
  background-repeat: no-repeat;
  background-position: center top;

  .label {
    font-weight: 400;
    font-size: 36px;
    color: #c4c4c4;
    text-align: center;
    margin-top: 30px;
    z-index: 2;
  }

  .logo-wrapper {
    margin-top: 22px;
    height: 326px;
    width: 326px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    z-index: 2;

    > img {
      height: 219px;
      width: 360px;
    }
  }

  .nav {
    margin-top: 64px;
  }

  .content {
    width: 100%;
    margin-top: 25px;
  }
}
