<div class="header">
  <div class="picture"></div>
  <div class="logo-wrapper" fxLayoutAlign="center center">
    <img src="/assets/images/chucknorris_logo_coloured_small@2x.svg" alt="logo" />
  </div>
</div>
<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <div class="nav">
    <mat-button-toggle-group>
      <mat-button-toggle routerLink="random-quote" [checked]="url === '/random-quote'">Random</mat-button-toggle>
      <mat-button-toggle routerLink="search-quote" [checked]="url === '/search-quote'">Search</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="content" fxLayout="column">
    <router-outlet></router-outlet>
  </div>
</div>
