@import '~@angular/material/theming';
@include mat-core();

$angular-test-project-primary: mat-palette($mat-deep-orange);
$angular-test-project-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-test-project-warn: mat-palette($mat-red);
$angular-test-project-theme: mat-light-theme(
  (
    color: (
      primary: $angular-test-project-primary,
      accent: $angular-test-project-accent,
      warn: $angular-test-project-warn,
    ),
  )
);

@include angular-material-theme($angular-test-project-theme);
@import 'node_modules/@angular/material/theming';
@include mat-core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-button-toggle-group.mat-button-toggle-group-appearance-standard {
  border: 1px solid #f15a24;

  .mat-button-toggle.mat-button-toggle-appearance-standard {
    color: #f15a24;
    width: 120px;

    + .mat-button-toggle {
      border-left: 1px solid #f15a24;
    }

    &.mat-button-toggle-checked {
      background-color: #f15a24;
      button {
        color: white;
      }
    }

    .mat-button-toggle-label-content {
      font-size: 15px;
      font-weight: 500;
      line-height: 35px;
    }

    .mat-button-toggle-focus-overlay {
      background-color: transparent;
    }
  }
}

mat-form-field[appearance='outline'] {
  width: 100%;
  min-width: 60px;

  .mat-form-field-flex {
    padding-bottom: 5px;
  }

  .mat-form-field-infix {
    width: auto;
    padding: 0.5em 0;
  }

  .mat-form-field-outline {
    background-color: #fff;
    border-radius: 5px;
  }

  .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }

  mat-error {
    margin-top: 15px;
    font-weight: 500;
    font-size: 13px;
  }
}
